* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.Page1 {
    width:200px;
    /* height:400px; */
    margin: auto;
    margin-top: 50vh;
    transform:translateY(-50%);
}
.XandO {
    margin:auto;
    margin-bottom: 3vh;
}
.XandO img {
    width:90px;
    height:70px;
    margin-right: 1px;
    margin-bottom: 4vh;
}
.Mode {
    text-align:center;
}
.playMode {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:1em;
    font-weight: 600;
    color:rgba(10,40,80,0.9);
}

.playWith {
    margin-top:3vh;
    text-align: center;
}

.playWith button {
    margin-bottom:-1vh;
    height:3em;
    font-size: 0.75em;
    border-radius: 40px;
    width: 120px;
    color: rgba(10,20,30,0.7);
    font-weight: 600;
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
}

.playWith button:hover {
    background-color: rgb(66, 5, 233);
    color: #fff;
}
.settings{
    height:30px;
    width:30px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    margin-top:6vh!important;
    margin:auto;
    background-image: url('Settings-icon.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgX {
    filter: drop-shadow(5px 30px 25px rgba(0,100,200));
}

.imgO {
    filter: drop-shadow(10px 30px 20px rgb(252, 123, 2));
}
/* .settings img {
    height: 20px;
    width: 20px; */
/* } */